openapi: 3.0.1
info:
  title: 酷学院 REST 学习 thirdoa API
  description: 欢迎使用酷学院开放平台Open API 服务
  contact:
    email: service@coolcollege.cn
  version: v2
  x-logo:
    url: https://oss.coolcollege.cn/1553567081676c%402x.png
    backgroundColor: '#9145e6'
servers:
- url: https://openapi.coolcollege.cn/api/v2
tags:
- name: thirdoa
  description: '* OA系统 人员/部门变动事件推送API

    * 访问该目录下接口时header中需要携带参数 `access-token` 和 `enterprise-id`

    * access-token 参数来自鉴权接口返回的token值

    '
paths:
  /event/dept:
    post:
      tags:
      - thirdoa
      summary: 部门信息同步
      description: 部门信息同步
      requestBody:
        description: deptData
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/部门信息推送'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 业务code
                    example: '200'
                  message:
                    type: string
                    description: 错误信息
                    example: success
                  data:
                    type: object
                    description: 返回的数据
                    example: null
  /event/post:
    post:
      tags:
      - thirdoa
      summary: 岗位信息同步
      description: 岗位信息同步
      requestBody:
        description: postData
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/岗位信息推送'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 业务code
                    example: '200'
                  message:
                    type: string
                    description: 错误信息
                    example: success
                  data:
                    type: object
                    description: 返回的数据
                    example: null
  /event/study_project_user:
    post:
      tags:
      - thirdoa
      summary: 学习项目报名人员同步
      description: 学习项目报名人员同步
      requestBody:
        description: projectUserVo
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/第三方 学习项目报名学习信息'
        required: true
      '200':
        description: OK
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: 业务code
                  example: '200'
                message:
                  type: string
                  description: 错误信息
                  example: success
                data:
                  type: object
                  description: 返回的数据
                  example: null
  /event/user:
    post:
      tags:
      - thirdoa
      summary: 人员信息同步
      description: 人员信息同步
      requestBody:
        description: userData
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/人员信息推送'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 业务code
                    example: '200'
                  message:
                    type: string
                    description: 错误信息
                    example: success
                  data:
                    type: object
                    description: 返回的数据
                    example: null
components:
  schemas:
    岗位信息:
      type: object
      required:
      - is_delete
      - post_id
      - post_name
      properties:
        create_time:
          type: integer
          format: int64
          description: 创建时间 13位时间戳
          allowEmptyValue: false
        is_delete:
          type: integer
          format: int32
          description: 删除状态; 1:删除，0:未删除
          allowEmptyValue: false
          enum:
          - 1
          - 0
        last_update_time:
          type: integer
          format: int64
          description: 最后更新时间 13位时间戳
          allowEmptyValue: false
        post_id:
          type: string
          description: 岗位ID
          allowEmptyValue: false
        post_name:
          type: string
          description: 岗位名称
          allowEmptyValue: false
        post_order:
          type: integer
          format: int32
          description: 次序值
          allowEmptyValue: false
      title: 岗位信息
    岗位信息推送:
      type: object
      properties:
        data:
          type: array
          description: 岗位数据
          allowEmptyValue: false
          items:
            $ref: '#/components/schemas/岗位信息'
        data_count:
          type: integer
          format: int32
          description: 推送数量
          allowEmptyValue: false
      title: 岗位信息推送
      description: 部门信息变动信息批量推送
    第三方 学习项目报名学习信息:
      type: object
      required:
      - project_id
      properties:
        project_id:
          type: string
          description: 学习项目ID
          allowEmptyValue: false
        user_id:
          type: array
          description: 学员ID
          allowEmptyValue: false
          items:
            type: string
      title: 第三方 学习项目报名学习信息
    部门信息:
      type: object
      required:
      - id
      - is_delete
      - name
      properties:
        create_time:
          type: integer
          format: int64
          description: 创建时间 13位时间戳
          allowEmptyValue: false
        depart_order:
          type: integer
          format: int32
          description: 在父部门中的次序值
          allowEmptyValue: false
        id:
          type: string
          description: 部门ID
          allowEmptyValue: false
        is_delete:
          type: integer
          format: int32
          description: 删除状态; 1:删除，0:未删除
          allowEmptyValue: false
          enum:
          - 1
          - 0
        last_update_time:
          type: integer
          format: int64
          description: 最后更新时间 13位时间戳
          allowEmptyValue: false
        name:
          type: string
          description: 部门名称
          allowEmptyValue: false
        parent_id:
          type: string
          description: 父部门id
          allowEmptyValue: false
      title: 部门信息
    人员信息扩展属性:
      type: object
      properties:
        column_name:
          type: string
          description: 属性名称
          allowEmptyValue: false
        column_order:
          type: integer
          format: int32
          description: 属性顺序值
          allowEmptyValue: false
        column_value:
          type: string
          description: 属性值
          allowEmptyValue: true
      title: 人员信息扩展属性
      description: 人员信息扩展属性 最多五个
    人员信息推送:
      type: object
      properties:
        data:
          type: array
          description: 人员数据
          allowEmptyValue: false
          items:
            $ref: '#/components/schemas/人员信息'
        data_count:
          type: integer
          format: int32
          description: 人员推送数量
          allowEmptyValue: false
      title: 人员信息推送
      description: 人员信息变动信息批量推送
    部门信息推送:
      type: object
      properties:
        data:
          type: array
          description: 部门数据
          allowEmptyValue: false
          items:
            $ref: '#/components/schemas/部门信息'
        data_count:
          type: integer
          format: int32
          description: 推送数量
          allowEmptyValue: false
      title: 部门信息推送
      description: 部门信息变动信息批量推送
    人员信息:
      type: object
      required:
      - department_ids
      - is_delete
      - user_id
      - user_name
      properties:
        active:
          type: boolean
          example: false
          description: 激活状态, 默认是true
          allowEmptyValue: false
        charge_department_ids:
          type: array
          description: 为部门负责人的 部门ID
          allowEmptyValue: false
          items:
            type: string
        create_time:
          type: integer
          format: int64
          description: 创建时间 13位时间戳
          allowEmptyValue: false
        department_ids:
          type: array
          description: 所属部门id
          allowEmptyValue: false
          items:
            type: string
        email:
          type: string
          description: 邮箱
          allowEmptyValue: false
        extend_column:
          type: array
          description: 扩展属性
          allowEmptyValue: false
          items:
            $ref: '#/components/schemas/人员信息扩展属性'
        is_admin:
          type: boolean
          example: false
          description: 是否为企业的管理员, true表示是, false表示不是, 默认是false
          allowEmptyValue: false
        is_delete:
          type: integer
          format: int32
          description: 删除状态; 1:删除，0:未删除
          allowEmptyValue: false
          enum:
          - 1
          - 0
        jobnumber:
          type: string
          description: 工号
          allowEmptyValue: false
        last_update_time:
          type: integer
          format: int64
          description: 最后更新时间 13位时间戳
          allowEmptyValue: false
        mobile:
          type: string
          description: 手机号
          allowEmptyValue: false
        post_ids:
          type: array
          description: 所属岗位id
          allowEmptyValue: false
          items:
            type: string
        post_names:
          type: array
          description: 所属岗位名称,postIds 为空时生效,不调用岗位事件接口时使用该字段
          allowEmptyValue: false
          items:
            type: string
        user_id:
          type: string
          description: 用户Id
          allowEmptyValue: false
        user_name:
          type: string
          description: 用户名称
          allowEmptyValue: false
      title: 人员信息
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-tagGroups:
- name: Introduction
  tags:
  - 概述
  - endpoint
  - URL path
  - HTTP status code 详解
- name: Access
  tags:
  - 接入方式
  - ApiKey
- name: APIs
  tags:
  - 鉴权
  - 学习
  - 考试
  - 学习项目
  - 档案
  - 讲师
  - 用户
  - 证书
  - 学分
  - 实操
  - thirdoa
