openapi: 3.0.1
info:
  title: 酷学院 REST 学习 pet API
  description: 欢迎使用酷学院开放平台Open API 服务
  contact:
    email: service@coolcollege.cn
  version: v2
  x-logo:
    url: https://oss.coolcollege.cn/1553567081676c%402x.png
    backgroundColor: '#9145e6'
servers:
- url: https://openapi.coolcollege.cn/api/v2
tags:
- name: pet
  description: Everything about your Pets
  externalDocs:
    description: Find out more
    url: http://swagger.io
paths:
  /{enterprise-id}/exams/{exam-id}:
    post:
      tags:
      - pet
      summary: Add a new pet to the store
      operationId: addPet
      requestBody:
        description: Pet object that needs to be added to the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
          application/xml:
            schema:
              $ref: '#/components/schemas/Pet'
        required: true
      responses:
        '405':
          description: Invalid input
          content: {}
      security:
      - petstore_auth:
        - write:pets
        - read:pets
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Category
    Pet:
      required:
      - name
      - photoUrls
      type: object
      properties:
        id:
          type: integer
          format: int64
        category:
          $ref: '#/components/schemas/Category'
        name:
          type: string
          example: doggie
        photoUrls:
          type: array
          xml:
            name: photoUrl
            wrapped: true
          items:
            type: string
        tags:
          type: array
          xml:
            name: tag
            wrapped: true
          items:
            $ref: '#/components/schemas/Tag'
        status:
          type: string
          description: pet status in the store
          enum:
          - available
          - pending
          - sold
      xml:
        name: Pet
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Tag
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
x-tagGroups:
- name: Introduction
  tags:
  - 概述
  - endpoint
  - URL path
  - HTTP status code 详解
- name: Access
  tags:
  - 接入方式
  - ApiKey
- name: APIs
  tags:
  - 鉴权
  - 学习
  - 考试
  - 学习项目
  - 档案
  - 讲师
  - 用户
  - 证书
  - 学分
  - 实操
  - thirdoa
